@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Normal.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.wrapper {
  width: 1160px;
  margin: 20px auto;
  padding: 40px 40px 40px 110px;
  background-color: #fcfbf1;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.wrapper:after, .wrapper:before {
  position: absolute;
  content: '';
  left: 40px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5), inset 0px 0px 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5), inset 0px 0px 5px rgba(0, 0, 0, 0.8);
  background-color: #fff;
}

.wrapper:after {
  top: calc(50% + 250px);
}

.wrapper:before {
  top: calc(50% - 250px);
}

.checkmark-icon {
  position: relative;
}

.checkmark-icon::after {
  margin-left: 10px;
  background-image: url("../images/check.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  content: '';
  left: 100%;
  top: 0;
  width: 20px;
  height: 26px;
}

.h1-container,
.h2-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
  margin: 0 0 12px;
}

.h2-container {
  margin: 30px 0 12px;
}

.h2-container__title {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.highlight {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #24292e;
  background-color: rgba(27, 32, 36, 0.05);
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 5px;
}

.code-block__container {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #24292e;
  background-color: rgba(27, 32, 36, 0.05);
  border-radius: 3px;
  height: auto;
}

.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text__quoted {
  color: #6a737d;
  padding-left: 30px;
  border-left: 4px solid #dfe2e6;
}

.table {
  border-collapse: collapse;
  margin-top: 12px;
}

.table__row, .table__header, .table__cell {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 24px;
  padding: 6px 13px;
}

.table__cell:first-of-type {
  text-align: center;
}

.link {
  text-decoration: none;
}

hr {
  height: 4px;
  background-color: #e1e4e8;
  margin: 24px 0;
}

.header {
  position: relative;
}

.header__name {
  display: inline-block;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.header__contacts {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 12px;
  list-style: none;
}

.header__contacts-item {
  display: inline;
}

header::before {
  position: absolute;
  content: '';
  background-image: url("../images/paperclip.png");
  width: 66px;
  height: 120px;
  top: -29px;
  left: 10px;
}

.about-me__avatar {
  float: right;
}

.skills__list {
  list-style: none;
  list-style-position: inside;
}

.skills__item {
  padding-left: 12px;
}

.skills__item::marker {
  content: counter(list-item) ". ";
}

.skills__sub-list {
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 12px;
  padding: 0 33px;
  margin: 8px 0;
}

.skills__sub-item {
  margin-top: 8px;
}

.quote__quoted-text {
  margin: 24px 0;
}

.recommended-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.recommended-info__github-link {
  text-decoration: none;
  line-height: 30px;
  display: block;
  background-image: url("../images/github.svg");
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 40px;
  aspect-ratio: 1 / 1;
}

.recommended-info__school-link {
  background-image: url("../images/rs_school_js.svg");
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 100px;
  aspect-ratio: 553 / 205;
}
